.header {
  box-sizing: border-box;
  height: 64px;
  min-height: 30px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  position: sticky;
  top: 0;

  &__profile {
    display: flex;
    gap: 10px;
  }
}
