.header {
  min-height: 30px;
  background-color: #283046;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  position: sticky;
  top: 0;

  &__profile {
    display: flex;
    gap: 10px;

    .description {
      display: flex;
      flex-direction: column;
      text-align: right;

      &__name {
        font-size: 14px;
        font-weight: 500;
      }
    }

    picture {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 40px;
        height: 40px;
        vertical-align: bottom;
        max-width: 100%;
      }
    }
  }
}
