:host {
  position: relative;

  &.navigation__link {
    &.has__children {
      &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 1.1rem;
        height: 1.1rem;
        width: 1.1rem;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 14px;
        transform: rotate(0deg);
        transition: all 0.2s ease-out;
      }

      ul > li {
        .link__item {
          padding: 10px 20px;
        }

        themify-icon {
          ::ng-deep {
            i-feather {
              width: 11px !important;
              height: 11px !important;
            }
          }
        }
      }
    }

    &-expanded {
      &.has__children {
        &::after {
          transform: rotate(90deg);
        }
      }

      & > .link__item {
        border-radius: 6px;
      }
    }

    .link__item {
      line-height: 1.45;
      // color: #d0d2d6;
      margin: 0 15px;
      padding: 10px 15px;
      display: flex;
      cursor: pointer;
      text-align: left;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      themify-icon {
        width: 20px;
        height: 20px;
        margin-right: 1.1rem;
      }
    }

    a {
      text-decoration: none;
    }

    button {
      font-size: inherit;
      font-family: inherit;
      background-color: transparent;
      width: calc(100% - 30px);
      border: none;
    }

    ul {
      display: none;

      &.show {
        display: block;
      }
    }

    & > ul li:first-of-type {
      margin-top: 10px;
    }

    &-active {
      .link__item {
        border-radius: 4px;
      }
    }
  }
}
