@use "sass:map";

@mixin theme($theme) {
  $mainBackground: map-get(
    $map: $theme,
    $key: mainBackground,
  );

  .sidebar {
    .navigation {
      &__link {
        &-expanded {
          & > button {
            background-color: $mainBackground;
          }
        }
      }
    }
  }
}
