@import '../../assets/styles/utils/breakpoints';

#layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  #content {
    flex: 1;
    padding: 1.25rem;
    overflow: auto;

    @include md {
      padding: 1.5rem;
    }

    @include xl {
      padding: 2rem;
    }

    &.content__wrapper {
      transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      margin-left: 80px;

      &-expanded {
        margin-left: 260px;
      }

      &-mobile {
        margin-left: 0px;
      }
    }
  }
}
